<section class="resistration">
    <div class="reg-card">
        <form action="/login" method="POST" class="form py-4 row g-3 needs-validation justify-content-center" novalidate>
            
            <% if(messages.error) { %>
                <span><%= messages.error %></span>
            <% } %>

            <div class="col-md-7">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="col-md-7">
                <label for="exampleFormControlInput1" class="form-label">password</label>
                <input name="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
            </div>
            <div class="btnDiv col-md-7">
                <div class="row justify-content-evenly">
                    <button class="btn btn-primary col-md-4" type="submit">Login</button>
                    <span class="col-md-6 align-self-center"><a href="/register" >Don't have account?</a></span>
                  </div>
            </div>
          </form>
    </div>
</section>