body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #00db37;
  transition: all 0.3s ease-in-out;
}
nav li:last-child a:hover {
  background: #42f542;
}

nav li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: rgb(80, 73, 73);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #00db37;
}

section.hero {
  background: #dcf7f7;
}

.size-div {
  background: rgb(222, 222, 222);
  min-width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.size-div .size {
  width: 100%;
  height: 100%;
  text-align: center;
}

.add-to-cart {
  background: #dcf7f7;
  border: 2px solid #00db37;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #00db37;
  border: 2px solid #dcf7f7;
  color: #dcf7f7;
}

.btn-primary {
  background: #00db37;
  border: 2px solid #00db37;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #42f542;
  border: 2px solid #232323;
  color: #232323;
}

section.cart {
  background: #dcf7f7;
  min-height: calc(100vh - 70px);
}
section.cart .amount {
  color: #00db37;
}

section.resistration {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dcf7f7;
  min-height: calc(100vh - 70px);
}
section.resistration .reg-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.resistration .reg-card .form {
  background-color: rgb(96, 117, 117);
  box-shadow: 0.2rem 0.2rem 0.3rem rgb(30, 31, 31);
}
section.resistration .reg-card .form div:last-child a {
  text-decoration: none;
  color: #00db37;
}
section.resistration .reg-card .form div:last-child a:hover {
  text-decoration: underline;
}
