// colors
$primary: #00db37;
$primary-hover: #42f542;
$secondary: #dcf7f7;
$pure: #fff ;
$dark: #232323;
$grey: rgb(80, 73, 73) ;
$lightWhite: rgb(222, 222, 222);

// transition
$smooth: all 0.3s ease-in-out;